.App {
  background-position: bottom center;
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  gap: 1vh;
}

.App-Main {
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 5vh 5%;
}

.Main {
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 20px;
  height: 90vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.Main-Left {
  height: 100vh;
  width: 45vw;
  flex-direction: column;
  justify-content: space-around;
}

.Main-Left-Header {
  font-family: "Titillium Web", sans-serif;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-small;
}

.header-title {
  flex-direction: column;
  align-items: flex-start;
}

.header-title h2 {
  margin: 0;
}

.Main-Info {
  font-size: larger;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Main-Left-Footer {
  justify-content: space-evenly;
}

.prev-next a {
  padding: 0 0.3rem;
}

.Main-Picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.Main-Picture a img {
  width: 40vw;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.Main-Right {
  height: 100%;
  width: 10vw;
}

nav {
  height: 100%;
  padding-right: 2vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
